/* font import */
@import url("https://fonts.googleapis.com/css2?family=Tiro+Tamil:ital@0;1&display=swap");
@font-face {
  font-family: "Palm Springs GRAPHIC";
  src: url(../fonts/PalmSpringsGRAPHIC.woff2);
  src: url(../fonts/PalmSpringsGRAPHIC.svg);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* apply to document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tiro Tamil", serif;
  color: #35432f;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* header: scroll page 1 (h1) */
header {
  scroll-snap-align: end;
  font-family: "Palm Springs GRAPHIC";
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Palm Springs GRAPHIC";
  font-weight: normal;
  font-style: normal;
}

.header-container {
  height: 100vh;
  background: #f7cb7a;
  scroll-snap-align: end;
}

.header-container h1 {
  position: absolute;
  top: 40vh;
  width: 100%;
  font-size: 6rem;
  letter-spacing: 2px;
  text-align: center;
}

/* header: scroll page 2 (intro) */
.intro {
  height: 100vh;
  background: #f7cb7a;
  scroll-snap-align: end;
  font-family: "Palm Springs GRAPHIC";
  font-weight: normal;
  font-style: normal;
}

.intro-description {
  position: absolute;
  right: 5%;
  top: 110%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.intro-description li {
  height: 3rem;
  display: flex;
  overflow: hidden;
  margin-bottom: 0.5rem;
  justify-content: flex-end;
}

.intro-description span {
  display: block;
  font-size: 1.6rem;
}

.intro-description span.active {
  transform: translateY(0%);
  transition: 1s ease-out;
}

#header-image-container {
  height: 45vh;
  position: relative;
}

#header-image-container a {
  font-size: 0.8rem;
  color: #35432f;
  position: absolute;
  bottom: 0;
  right: 0;
}

img {
  height: 42vh;
  width: 42vh;
}

a {
  text-decoration: none;
}

/* header: scroll page 3 (intro form) */
.intro-form {
  height: 100vh;
  background: #f7cb7a;
}

.intro-form-description {
  position: absolute;
  right: 5%;
  height: 4rem;
  font-size: 1.8rem;
  display: block;
  top: 220vh;
}

.intro-form form {
  position: absolute;
  right: 5%;
  top: 230vh;
}

.intro-form li {
  display: flex;
  overflow: hidden;
  margin-bottom: 0.5rem;
  justify-content: flex-end;
}

.intro-form-description-end {
  right: 5%;
  height: 4rem;
  font-size: 2rem;
  margin-top: 80px;
  display: none;
}

.header-input {
  border: none;
  background: #e3d8e7;
  border-radius: 3px;
  width: 280px;
  position: relative;
  font-size: 1rem;
  text-align: center;
  justify-items: right;
  height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1rem;
}

.header-questions {
  line-height: 2rem;
  font-size: 1.25rem;
  text-align: right;
  padding-bottom: 1.25rem;
  font-family: "Tiro Tamil";
}

.header-submit-button {
  border: none;
  background: #a7c7df;
  border-radius: 3px;
  width: 100px;
  height: 2rem;
  margin-left: 10px;
  position: relative;
  font-size: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #35432f;
}

/* 2 column layout for main app */
.app {
  height: 100vh;
  display: flex;
  scroll-snap-align: end;
}

nav {
  width: 25%;
  background: #35432f;
  padding-left: 20px;
  overflow: scroll;
}

/* navigation bar */
.navbar {
  padding: 10vh 2vh;
  margin: 0;
}

.navbar-heading {
  font-size: 1rem;
  color: #f7cb7a;
}

.rendered-category-text,
.rendered-search-heading,
.rendered-suggestions-text,
.rendered-walk-search-text {
  font-size: 0.9rem;
  color: #f2f1ed;
  padding: 0.2rem 0;
  cursor: pointer;
}

.rendered-suggestions-weather,
.start-here-text {
  font-size: 0.9rem;
  color: #f2f1ed;
  padding: 0.2rem 0;
}

.rendered-category-text:hover,
.rendered-suggestions-text:hover {
  color: #a7c7df;
}

.rendered-category-activity-text,
.rendered-walk-search-text {
  font-size: 0.85rem;
  background: #a7c7df;
  padding: 0.4vh 1vh;
  margin: 0.4vh 0.8vh;
  color: #35432f;
  border-radius: 2px;
}

.rendered-keyword-search-text {
  font-size: 0.85rem;
  background: #a7c7df;
  padding: 0.4vh 1vh;
  margin: 0.4vh 0;
  color: #35432f;
  border-radius: 2px;
  cursor: pointer;
  list-style: none;
}

.hide {
  display: none;
}

#search-by-category,
#search-by-keyword,
#add-your-own,
#activity-suggestions {
  padding: 2rem 0 0 0;
  display: block;
}

.search-by-category-container li {
  position: relative;
}

.search-by-category-container li a {
  display: relative;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

.category-name {
  color: #f2f1ed;
}

.search-by-keyword,
.search-by-keyword-clear,
.add-my-own {
  padding: 0.25rem;
  border: none;
  background: #e3d8e7;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  font-size: 0.8rem;
  margin-bottom: 1.2vh;
}

input {
  width: 68%;
}

.keyword-search-container {
  margin-bottom: 2.2rem;
}

.weather-icon {
  display: relative;
  height: 12vh;
  width: 12vh;
}

/* navigation bar: Back To Sorts community lists */
#winnie,
#brendan {
  width: 13vh;
  height: auto;
  padding-right: 1vh;
}

#modal-winnie,
#modal-brendan {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vh;
  height: auto;
  display: none;
}

#overlay {
  position: fixed;
  opacity: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e3d8e7;
  display: none;
}

/* back to sorts list content */
main {
  width: 75%;
  height: 100vh;
  background: #e3d8e7;
  display: absolute;
  justify-content: center;
  align-items: center;
}

h2.list-title {
  text-align: left;
  margin-left: 5rem;
  color: #c54b25;
  font-family: "Palm Springs GRAPHIC";
  padding-top: 5vh;
  font-size: 2rem;
  font-weight: normal;
}

main div {
  display: flex;
  align-items: center;
  margin: 1rem 5rem;
}

main div li {
  text-align: left;
  padding-top: 0.25rem;
}

.new-activity {
  list-style: none;
}

.remove-button {
  padding: 0.25rem;
  margin-right: 0.5rem;
  border: none;
  color: #f2f1ed;
  cursor: pointer;
}

.remove-button:hover {
  color: #35432f;
}
